<div class="login-form login-signin m-auto">
  <div class="card card-custom py-10 px-10 mt-40">
    <!--begin::Title-->
    <div class="d-flex justify-content-center"> 
      <div class="pt-lg-0 pt-5">
        <img src="./assets/media/logos/VanillaTelecomsLogo.png">
      </div>
    </div> 
    <!--end::Title-->
    <!--begin::Action-->
    <div class="d-flex justify-content-center pb-lg-0 pb-5 pt-13">
      <button
        (click)="products()"
        class="btn btn-primary font-weight-bolder w-180 font-size-h6 px-8 py-4"
      >
        PRODUCTS
      </button>
    </div>
    <div class="d-flex justify-content-center pb-lg-0 pb-5 pt-13">
      <button
        (click)="packages()"
        class="btn btn-primary font-weight-bolder w-180 font-size-h6 px-8 py-4"
      >
        PACKAGES
      </button>
    </div>
    <div class="d-flex justify-content-center pb-lg-0 pb-5 pt-13">
      <button
        (click)="adminUsers()"
        class="btn btn-primary font-weight-bolder w-180 font-size-h6 px-8 py-4"
      >
        ADMIN USERS
      </button>
    </div>
    <!--end::Action-->
  </div>
</div>


