<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title main-font-blue">PLEASE CHOOSE YOUR DIDs: {{selectPhonNumber?.periodic_fee}}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="searchText"
        placeholder="Search for your preferred DIDs"
        value=""
      />
    </div>
    <div class="phonenumber-container">
      <div *ngFor="let phoneNumber of phoneNumbers; let index = index">
        <div class="font-size-h5 main-font-blue cursor-pointer" [ngClass]="{'selectPhoneNumber' : selectPhonNumber?.i_did_number === phoneNumber.i_did_number}" (click)="onClickNumber(phoneNumber)">{{phoneNumber.number}}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-center">
      <div>
        <button
          (click)="modal.dismiss()"
          class="btn btn-primary btn-lg font-weight-bolder font-size-h6 px-8 py-4 m-5 w-180"
        >
          BACK
        </button>
        &nbsp;
      </div>
      <div>
        <button
          (click)="next()"
          class="btn btn-primary btn-lg font-weight-bolder font-size-h6 px-8 py-4 m-5 w-180"
        >
          NEXT
        </button>
        &nbsp;
      </div>
    </div>
  </div>
</div>